{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="col-xs-1 offset-xs-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center">
                        <h3>Éligibilité au paiement en plusieurs fois</h3>
                    </div>
                    <div class="card-text">
                        <form action="" method="POST">
                            <div>
                                <div class="form-group col-xs-1 offset-xs-1 col-sm-8 offset-sm-2 col-md-7 offset-md-3">
                                    <div class="mt-4">
                                        <div class="row">
                                            <label class="col-form-label col-xs-1 col-sm-10 col-md-7" for="installmentsCounts">Paiement en :</label>
                                            <select class="form-control col-xs-1 col-sm-12 col-md-5" name="installmentsCounts" id="installmentsCounts" autofocus>
                                                <option value="0" selected>-</option>
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="10">6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Taxe</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Date de paiment</th>
                                </tr>
                                </thead>
                                <tbody id="response">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center" id="message"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#installmentsCounts').change(function() {
            let value = this.value;

            // Checks value to prevent null or negative number.
            if (0 < value) {
                let post = $.post('{{ path('ajax_payment_elegibility_check') }}', {
                    amount: {{ app.session.get('card').amount }},
                    installmentsCounts: [value] }
                );

                // Gets div element from the DOM for next processing.
                let element = $('#response');
                // Cleans tbody's table content.
                element.children().remove();
                // Removes btn if exists.
                $('.btn').remove();

                // checks if the XMLHttpRequest is succeed.
                post.done(function(data) {
                    // Checks if eligible key in JSON Response from Alma web service is "true".
                   if (data[0].eligible) {
                       for (let i = 0; i < data[0].payment_plan.length; ++i) {
                           let dueDateValue = new Date(data[0].payment_plan[i].due_date * 1000);

                           // Generates table content.
                           element.append('<tr>')
                               .append('<td>'+data[0].payment_plan[i].customer_fee+' €</td>')
                               .append('<td>'+data[0].payment_plan[i].purchase_amount+' €</td>')
                               .append('<td>'
                                   +((10 > dueDateValue.getDate()) ? '0'+dueDateValue.getDate() : dueDateValue.getDate())
                                   // Adds + 1 day to have the true value.
                                   +'/'+((10 > (dueDateValue.getMonth()+1)) ? '0'+(dueDateValue.getMonth()+1) : dueDateValue.getMonth()+1)
                                   +'/'+dueDateValue.getFullYear()
                                   +'</td>')
                               .append('</tr>');
                       }

                       // Adds link to access to the next step.
                       element.parent().parent().append('<a href="" class="btn btn-primary btn-block">Je valide mon choix</a>')

                       // Adds event on "click" for the new button.
                       $('.btn').click(function(event) {
                           // Prevents default form behaviour.
                           event.preventDefault();

                           // Sends XMLHttpRequest.
                           $.post('{{ path('ajax_payment_eligibility_save') }}', {
                               purchaseAmount: {{ app.session.get('card').amount() }},
                               paymentPlan: data[0].installments_count
                           }).done(function() {
                                document.location='{{ path('payment_create') }}';
                           }).fail(function() {
                               $('#message').html("<p>Une erreur s'est produite durant le processus.</p>");
                               $('#modalCenter').modal('show');
                           })
                       })
                   } else {
                       $('#message').html("<p>Le montant dans votre panier n'est pas éligible.</p>");
                       $('#modalCenter').modal('show');
                   }
                });
            }
        })
    </script>
{% endblock %}
